doctype html
html(lang="en")
  head
    title Treasurer Tool

  body
    h1 Welcome to Treasurer Tool
    p This application will help you manage your Local Spiritual Assembly's finances! See a list of transactions below.

    form(action="add", method="post")
        label Date:
        input(type="text", name="date")
        label Type:
        input(type="text", name="type")
        label Who:
        input(type="text", name="who")
        label Amount:
        input(type="text", name="amount")
        input(type="submit", value="Add a new transaction")

    ul
        - for(transaction in transactions) {
            li
                | #{transactions[transaction].date}
                | &nbsp;- #{transactions[transaction].type}
                | &nbsp;- #{transactions[transaction].who}
                | &nbsp;- #{transactions[transaction].amount}
        - }
